ogbench == 1.1.0
jax[cuda12] >= 0.4.26
flax >= 0.8.4
distrax >= 0.1.5
ml_collections >= 1.1.0
matplotlib >= 3.10.3
moviepy >= 2.1.2
wandb >= 0.19.11
wandb-osh >= 1.2.2
setuptools >= 69.0.0, < 81.0.0
tensorboard >= 2.16.0
tensorboardX >= 2.6.2
gymnasium == 0.29.1
h5py >= 3.12.1
